<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.kbsmd.wnba-props-refresh</string>
  <key>WorkingDirectory</key><string>__REPO_DIR__</string>
  <key>ProgramArguments</key><array>
    <string>/usr/bin/python3</string>
    <string>__REPO_DIR__/scripts/refresh_wnba_props.py</string>
    <string>--repo</string><string>__REPO_DIR__</string>
    <string>--season</string><string>2026</string>
  </array>
  <key>StartCalendarInterval</key><dict><key>Hour</key><integer>20</integer><key>Minute</key><integer>0</integer></dict>
  <key>StandardOutPath</key><string>__LOG_PATH__</string>
  <key>StandardErrorPath</key><string>__LOG_PATH__</string>
</dict></plist>
